  </div>
</body>
  
  <footer>
    <p  style="color: #F5BD02;"><i class="fa-brands fa-instagram icons"></i><i class="fa-brands fa-facebook icons"></i><i class="fa-brands fa-twitter icons"></i>shubham chaudhari</p>
  </footer>
  
</html>
