<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://kit.fontawesome.com/6edb82824f.js" crossorigin="anonymous"></script>
  

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand" style="color: #F5BD02;" >DAILY JOURNAL</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a  style="color: #F5BD02;" href="/">HOME</a></li>
          <li id="about"><a  style="color: #F5BD02;" href="/about">ABOUT US</a></li>
          <li id="contact"><a  style="color: #F5BD02;" href="/contact">CONTACT US</a></li>
        </ul>
      </div>
    </nav>
    <div class="container container-body">
