<%- include("partials/header"); -%>

    <h1>About</h1>
    <p><%= aboutContent %></p>
    <section>
        <h2>Our Mission</h2>
        <p>At Explore Ancient Civilizations, our mission is to ignite a sense of curiosity and wonder about the ancient world. We are passionate about unraveling the mysteries of past civilizations, their achievements, and their impact on our present. Through our meticulously researched articles, we strive to create an engaging and educational platform that inspires and informs readers of all ages.</p>
      </section>

      <section>
        <h2>Our Team</h2>
        <p>Our team of dedicated writers and researchers consists of history enthusiasts, archaeology experts, and passionate storytellers. With our combined expertise and love for ancient civilizations, we aim to bring these extraordinary cultures to life through engaging narratives, vivid descriptions, and in-depth analysis.</p>
      </section>

      <section>
        <h2>Join Our Community</h2>
        <p>We believe that exploring ancient civilizations is a shared journey, and we invite you to join our community of history enthusiasts, students, and curious minds. Connect with us through our blog comments, social media platforms, and newsletter to stay updated on our latest articles, discussions, and exciting discoveries in the field of archaeology.</p>
      </section>

    <section>

<%- include("partials/footer"); -%>