<%- include("partials/header"); -%>

    <h1>Contact</h1>
    <p><%= contactContent %></p>


    <section>
    <p>Email: <a href="mailto:shubhamvc35@gmail.com">shubhamvc35@gmail.com</a></p>
    <p>For general inquiries or partnership opportunities, please email us at the provided address. We'll make sure to respond to your message as soon as possible.</p>
    </section>

    <section>
    <h2>Section 3</h2>
    <p>Social Media:</p>
    <ul>
        <li>Facebook: <a href="https://www.facebook.com/profile.php?id=100053185420886">https://www.facebook.com/profile.php?id=100053185420886</a></li>
        <li>Twitter: <a href="https://twitter.com/shubhamvc35">https://twitter.com/shubhamvc35</a></li>
        <li>Instagram: <a href="https://www.instagram.com/shubhamvc_2935/">https://www.instagram.com/shubhamvc_2935/</a></li>
    </ul>
    </section>

    <section>
    <p>We look forward to hearing from you and continuing the journey of exploring the captivating world of ancient civilizations together.</p>
    </section>
  

<%- include("partials/footer"); -%>